div{
	border: 10px;
	border-color: red;
	margin: 15px;
	padding: 20px;
	background-color: gray;

}

.bold{
	font-weight: bold;
	color: red;
}

#caption{
	position: absolute;
	top: 150px;
	left: 150px;

}

#header{
	padding: 5px 20px 15px 15px;
	background: red;
}

#sidebar {
	position: relative;
	width: 100px;
	height: 400px;
	float: left;
	background-color: blue;
	top: -15px;
	clear:left;
}

#content{
	position: relative;
	width: auto;
	height: 400px;
	left: 150px;
}

#footer{
	float: bottom;
}